In [1]:
# # data collection sites
# 1 kaggle
# 2 github
# 3 google dataset search
# 4 data.gov
# 5 uci machine learning repository
# 6 aws public datasets
# 7 data.world
# 8 world bank open data
# 9 open data portal

import pandas as pd
dataset = pd.read_csv('housing.csv')

In [2]:
dataset.head()

  0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
0   0.02731   0.00   7.070  0  0.4690  6.4210  78...
1   0.02729   0.00   7.070  0  0.4690  7.1850  61...
2   0.03237   0.00   2.180  0  0.4580  6.9980  45...
3   0.06905   0.00   2.180  0  0.4580  7.1470  54...
4   0.02985   0.00   2.180  0  0.4580  6.4300  58...

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 1 columns):
 #   Column                                                                                            Non-Null Count  Dtype
---  ------                                                                                            --------------  -----
 0    0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00  505 non-null    object
dtypes: object(1)
memory usage: 4.1+ KB

In [5]:
dataset.describe()

       0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
count                                                 505
unique                                                505
top      0.04741   0.00  11.930  0  0.5730  6.0300  80...
freq                                                    1

In [9]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\murtuza9270\anaconda3\lib\site-packages (1.7.4.5)
Requirement already satisfied: bleach in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (2025.4.26)
Requirement already satisfied: charset-normalizer in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (3.3.2)
Requirement already satisfied: idna in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (3.7)
Requirement already satisfied: protobuf in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (5.29.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (72.1.0)
Requirement already satisfied: six>=1.10 in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (2.3.0)
Requirement already satisfied: webencodings in c:\users\murtuza9270\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in c:\users\murtuza9270\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

# Upload your kaggle.json file to the current directory
# Configuring the path of kaggle.json file

mkdir ~/.kaggle
cp kaggle.json ~/.kaggle/
chmod 600 ~/.kaggle/kaggle.json

In [7]:
!kaggle competitions download -c LANL-Earthquake-Prediction

401 Client Error: Unauthorized for url: https://www.kaggle.com/api/v1/competitions/data/download-all/LANL-Earthquake-Prediction

In [10]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json explain this

The syntax of the command is incorrect.
'cp' is not recognized as an internal or external command,
operable program or batch file.
'chmod' is not recognized as an internal or external command,
operable program or batch file.

In [ ]:
!kaggle competitions download -c LANL-Earthquake-Prediction

401 Client Error: Unauthorized for url: https://www.kaggle.com/api/v1/competitions/data/download-all/LANL-Earthquake-Prediction

In [ ]:
!mkdir ~./kaggle

The syntax of the command is incorrect.

handling the missing values in the dataset

with the mean madiun and mode

In [ ]:
#with mean
dataset = pd.read_csv('housing.csv')
dataset.isnull().sum()
dataset["salary"].fillna(dataset["salary"].mean(), inplace = True)

NameError: name 'pd' is not defined

In [ ]:
dataset.fillna(dataset.mean(), inplace = True)

In [ ]:
#drop the null value in the column
dataset.dropna(subset=['salary'], inplace=True)
#but you have to